<mat-toolbar>
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <a [routerLink]="'/home'">
        <div class="app-logo">
          <img src="assets/images/logo.svg" alt="site-logo" loading="lazy" height="50px" />
        </div>
      </a>
      <div class="toolbar-navigation">
        <ng-container *ngIf="currentUser | async as user; else noUser">
          <a mat-icon-button [routerLink]="['/']" matTooltip="Início" color="primart">
            <mat-icon>home</mat-icon>
          </a>
          <a mat-icon-button [routerLink]="['/user-list']" matTooltip="Lista de Usuários" color="primart" *ngIf="user.role > 1">
            <mat-icon>group</mat-icon>
          </a>
          <a mat-icon-button [routerLink]="['/log-list']" matTooltip="Lista de Logs" color="primart" *ngIf="user.role > 1">
            <mat-icon>query_stats</mat-icon>
          </a>
          <!-- USER MENU -->

          <button matTooltip="Menu do Usuário" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu do Usuário">
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item disabled>
              <mat-icon>person</mat-icon>
              <span>{{ user?.name }}</span>
            </button>
            <button mat-menu-item (click)="logOut()">
              <mat-icon color="warn">logout</mat-icon>
              <span>Sair</span>
            </button>
          </mat-menu>
        </ng-container>
        <ng-template #noUser>
          <button matTooltip="Menu do Usuário" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu do Usuário">
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item disabled>
              <mat-icon>no_accounts</mat-icon>
              <span>Usuário Excluído</span>
            </button>
            <button mat-menu-item (click)="logOut()">
              <mat-icon color="warn">logout</mat-icon>
              <span>Sair</span>
            </button>
          </mat-menu>
        </ng-template>
      </div>
    </div>
  </div>
</mat-toolbar>
