<div class="register-header-wrapper">
  <h2>Criar nova conta</h2>
</div>
<form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
  <mat-form-field appearance="outline" class="d-block mb-2">
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput placeholder="Email" />
    <mat-error *ngIf="fieldHasError('email')">
      {{ getErrorMessage('email') }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="d-block mb-2">
    <mat-label>Nome Completo</mat-label>
    <input formControlName="name" matInput placeholder="Nome Completo" />
    <mat-error *ngIf="fieldHasError('name')">
      {{ getErrorMessage('name') }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="d-block mb-2">
    <mat-label>Senha</mat-label>
    <input formControlName="password" matInput placeholder="Senha" [type]="showPassword ? 'text' : 'password'" />
    <!-- SHOW AND HIDE PASSWORD -->
    <button
      color="accent"
      matSuffix
      mat-icon-button
      [attr.aria-label]="showPassword ? 'Esconder' : 'Mostrar'"
      (click)="showPassword = !showPassword"
      type="button"
    >
      <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <!-- SHOW AND HIDE PASSWORD -->
    <mat-error *ngIf="fieldHasError('password')">
      {{ getErrorMessage('password') }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="d-block mb-2">
    <mat-label>Confirmação de Senha</mat-label>
    <input
      formControlName="passwordConfirm"
      matInput
      placeholder="Confirmação de Senha"
      [type]="showPassword ? 'text' : 'password'"
    />
    <mat-error *ngIf="fieldHasError('passwordConfirm')">
      {{ getErrorMessage('passwordConfirm') }}
    </mat-error>
  </mat-form-field>

  <div class="d-flex justify-content-center">
    <button class="px-5" mat-raised-button color="primary" [disabled]="!registerForm.valid">Registrar</button>
  </div>
  <div class="navigation-link">
    <b>Já tem uma conta? <a [routerLink]="['/auth/login']">Entre Aqui</a></b>
  </div>
</form>
